.gallery {
    --cols: 1;
    --gap: 20px;
    display: grid;
    gap: 30px;
}
.gallery > .filter {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery > .filter > .tag {
}
.gallery > .content {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: var(--gap);
}
.gallery > .content > .card {
    box-shadow: 0 4px 8px #0002;
}
.gallery .card > img {
    width: 100%;
}

@media (min-width: 700px) {
    .gallery {
        --cols: 2;
        --gap: 25px;
    }
}

@media (min-width: 1100px) {
    .gallery {
        --cols: 3;
        --gap: 30px;
    }
}
