/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
/* components */
@import '../components/gallery.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER-start */
/* HEADER-end */

/* HERO-start */
/* HERO-end */

/* ABOUT-ME-start */
/* ABOUT-ME-end */

/* HOBBIES-start */
/* HOBBIES-end */

/* ACHIEVEMENTS-start */
/* ACHIEVEMENTS-end */

/* SERVICES-start */
/* SERVICES-end */

/* WORK-start */
/* WORK-end */

/* EXPERTISE-start */
/* EXPERTISE-end */

/* PORTFOLIO-start */
/* PORTFOLIO-end */

/* TESTIMONIALS-start */
/* TESTIMONIALS-end */

/* HIRE-ME-start */
/* HIRE-ME-end */

/* CONTACTS-start */
/* CONTACTS-end */

/* FOOTER-start */
/* FOOTER-end */
